[트러블 슈팅] spring 무한 재실행

<!-- 이슈나 프로젝트 상태값 기입해주세요! 

날짜 및 assignees를 기입해야 이후에 찾기 편합니다. -->

## 🐞 에러 내용
아마 퇴근 이후부터 4시가나 동안 spring이 1189번 재실행 됨. 로그가 무한이 쌓이는 중이라 종료했습니다.
```
spring-app.service: Scheduled restart job, restart counter is at 1189.
```
아래 명령어로 종료 및 인스턴스 재실행 시 자동 시작 비활성화 해뒀습니다.
```
# 서비스 중지
sudo systemctl stop spring-app

# 서비스 자동 시작 비활성화 (서버 재부팅 시 다시 켜지는 것 방지)
sudo systemctl disable spring-app
```

<details>
<summary>로그 클릭하여 펼쳐보기</summary>

```
Jan 22 13:25:38 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:   .   ____          _            __ _ _
Jan 22 13:25:38 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:  /\\ / ___'_ __ _ _(_)_ __  __ _ \ \ \ \
Jan 22 13:25:38 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: ( ( )\___ | '_ | '_| | '_ \/ _` | \ \ \ \
Jan 22 13:25:38 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:  \\/  ___)| |_)| | | | | || (_| |  ) ) ) )
Jan 22 13:25:38 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:   '  |____| .__|_| |_|_| |_\__, | / / / /
Jan 22 13:25:38 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:  =========|_|==============|___/=/_/_/_/
Jan 22 13:25:38 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:  :: Spring Boot ::                (v3.5.9)
Jan 22 13:25:38 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: 2026-01-22T13:25:38.639Z  INFO 53504 --- [fit-check] [           main] katopia.fitcheck.FitcheckApplication     : Starting FitcheckApplication v0.0.1-SNAPSHOT using Java 21.0.9 with PID 53504 (/home/ec2-user/spring/20260122-222244_merge-pull-request-8-from-100-hours-a-week-feat-member.jar started by ec2-user in /home/ec2-user/spring)
Jan 22 13:25:38 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: 2026-01-22T13:25:38.644Z  INFO 53504 --- [fit-check] [           main] katopia.fitcheck.FitcheckApplication     : The following 1 profile is active: "prod"
Jan 22 13:25:38 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: 2026-01-22T13:25:38.786Z  INFO 53504 --- [fit-check] [           main] .a.c.a.c.s.SecretsManagerPropertySources : Loading secrets from AWS Secret Manager secret with name: prod/spring/secret, optional: true
Jan 22 13:25:38 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: 2026-01-22T13:25:38.787Z  WARN 53504 --- [fit-check] [           main] .a.c.a.c.s.SecretsManagerPropertySources : Unable to load AWS secret from prod/spring/secret. The security token included in the request is invalid. (Service: SecretsManager, Status Code: 400, Request ID: 09a767f9-4f8b-4119-acc3-e79d706dff09)
Jan 22 13:25:41 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: 2026-01-22T13:25:41.688Z  INFO 53504 --- [fit-check] [           main] .s.d.r.c.RepositoryConfigurationDelegate : Multiple Spring Data modules found, entering strict repository configuration mode
Jan 22 13:25:41 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: 2026-01-22T13:25:41.693Z  INFO 53504 --- [fit-check] [           main] .s.d.r.c.RepositoryConfigurationDelegate : Bootstrapping Spring Data JPA repositories in DEFAULT mode.
Jan 22 13:25:41 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: 2026-01-22T13:25:41.990Z  INFO 53504 --- [fit-check] [           main] .s.d.r.c.RepositoryConfigurationDelegate : Finished Spring Data repository scanning in 279 ms. Found 1 JPA repository interface.
Jan 22 13:25:42 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: 2026-01-22T13:25:42.041Z  INFO 53504 --- [fit-check] [           main] .s.d.r.c.RepositoryConfigurationDelegate : Multiple Spring Data modules found, entering strict repository configuration mode
Jan 22 13:25:42 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: 2026-01-22T13:25:42.044Z  INFO 53504 --- [fit-check] [           main] .s.d.r.c.RepositoryConfigurationDelegate : Bootstrapping Spring Data Redis repositories in DEFAULT mode.
Jan 22 13:25:42 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: 2026-01-22T13:25:42.086Z  INFO 53504 --- [fit-check] [           main] .RepositoryConfigurationExtensionSupport : Spring Data Redis - Could not safely identify store assignment for repository candidate interface katopia.fitcheck.member.MemberRepository; If you want this repository to be a Redis repository, consider annotating your entities with one of these annotations: org.springframework.data.redis.core.RedisHash (preferred), or consider extending one of the following types with your repository: org.springframework.data.keyvalue.repository.KeyValueRepository
Jan 22 13:25:42 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: 2026-01-22T13:25:42.086Z  INFO 53504 --- [fit-check] [           main] .s.d.r.c.RepositoryConfigurationDelegate : Finished Spring Data repository scanning in 20 ms. Found 0 Redis repository interfaces.
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: 2026-01-22T13:25:43.396Z  INFO 53504 --- [fit-check] [           main] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat initialized with port 8080 (http)
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: 2026-01-22T13:25:43.419Z  INFO 53504 --- [fit-check] [           main] o.apache.catalina.core.StandardService   : Starting service [Tomcat]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: 2026-01-22T13:25:43.419Z  INFO 53504 --- [fit-check] [           main] o.apache.catalina.core.StandardEngine    : Starting Servlet engine: [Apache Tomcat/10.1.50]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: 2026-01-22T13:25:43.476Z  INFO 53504 --- [fit-check] [           main] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring embedded WebApplicationContext
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: 2026-01-22T13:25:43.478Z  INFO 53504 --- [fit-check] [           main] w.s.c.ServletWebServerApplicationContext : Root WebApplicationContext: initialization completed in 4683 ms
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: Standard Commons Logging discovery in action with spring-jcl: please remove commons-logging.jar from classpath in order to avoid potential conflicts
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: 2026-01-22T13:25:43.782Z ERROR 53504 --- [fit-check] [           main] o.s.b.web.embedded.tomcat.TomcatStarter  : Error starting Tomcat context. Exception: org.springframework.beans.factory.UnsatisfiedDependencyException. Message: Error creating bean with name 'jwtFilter' defined in URL [jar:nested:/home/ec2-user/spring/20260122-222244_merge-pull-request-8-from-100-hours-a-week-feat-member.jar/!BOOT-INF/classes/!/katopia/fitcheck/global/security/jwt/JwtFilter.class]: Unsatisfied dependency expressed through constructor parameter 0: Error creating bean with name 'jwtProvider': Invocation of init method failed
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: 2026-01-22T13:25:43.838Z  INFO 53504 --- [fit-check] [           main] o.apache.catalina.core.StandardService   : Stopping service [Tomcat]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: 2026-01-22T13:25:43.862Z  WARN 53504 --- [fit-check] [           main] ConfigServletWebServerApplicationContext : Exception encountered during context initialization - cancelling refresh attempt: org.springframework.context.ApplicationContextException: Unable to start web server
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: 2026-01-22T13:25:43.904Z  INFO 53504 --- [fit-check] [           main] .s.b.a.l.ConditionEvaluationReportLogger :
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: Error starting ApplicationContext. To display the condition evaluation report re-run your application with 'debug' enabled.
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: 2026-01-22T13:25:43.951Z ERROR 53504 --- [fit-check] [           main] o.s.boot.SpringApplication               : Application run failed
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: org.springframework.context.ApplicationContextException: Unable to start web server
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.web.servlet.context.ServletWebServerApplicationContext.onRefresh(ServletWebServerApplicationContext.java:170) ~[spring-boot-3.5.9.jar!/:3.5.9]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.context.support.AbstractApplicationContext.refresh(AbstractApplicationContext.java:621) ~[spring-context-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.web.servlet.context.ServletWebServerApplicationContext.refresh(ServletWebServerApplicationContext.java:146) ~[spring-boot-3.5.9.jar!/:3.5.9]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.SpringApplication.refresh(SpringApplication.java:752) ~[spring-boot-3.5.9.jar!/:3.5.9]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.SpringApplication.refreshContext(SpringApplication.java:439) ~[spring-boot-3.5.9.jar!/:3.5.9]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.SpringApplication.run(SpringApplication.java:318) ~[spring-boot-3.5.9.jar!/:3.5.9]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.SpringApplication.run(SpringApplication.java:1361) ~[spring-boot-3.5.9.jar!/:3.5.9]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.SpringApplication.run(SpringApplication.java:1350) ~[spring-boot-3.5.9.jar!/:3.5.9]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at katopia.fitcheck.FitcheckApplication.main(FitcheckApplication.java:10) ~[!/:0.0.1-SNAPSHOT]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at java.base/jdk.internal.reflect.DirectMethodHandleAccessor.invoke(DirectMethodHandleAccessor.java:103) ~[na:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at java.base/java.lang.reflect.Method.invoke(Method.java:580) ~[na:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.loader.launch.Launcher.launch(Launcher.java:106) ~[20260122-222244_merge-pull-request-8-from-100-hours-a-week-feat-member.jar:0.0.1-SNAPSHOT]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.loader.launch.Launcher.launch(Launcher.java:64) ~[20260122-222244_merge-pull-request-8-from-100-hours-a-week-feat-member.jar:0.0.1-SNAPSHOT]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.loader.launch.JarLauncher.main(JarLauncher.java:40) ~[20260122-222244_merge-pull-request-8-from-100-hours-a-week-feat-member.jar:0.0.1-SNAPSHOT]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: Caused by: org.springframework.boot.web.server.WebServerException: Unable to start embedded Tomcat
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.web.embedded.tomcat.TomcatWebServer.initialize(TomcatWebServer.java:147) ~[spring-boot-3.5.9.jar!/:3.5.9]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.web.embedded.tomcat.TomcatWebServer.<init>(TomcatWebServer.java:107) ~[spring-boot-3.5.9.jar!/:3.5.9]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.web.embedded.tomcat.TomcatServletWebServerFactory.getTomcatWebServer(TomcatServletWebServerFactory.java:517) ~[spring-boot-3.5.9.jar!/:3.5.9]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.web.embedded.tomcat.TomcatServletWebServerFactory.getWebServer(TomcatServletWebServerFactory.java:219) ~[spring-boot-3.5.9.jar!/:3.5.9]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.web.servlet.context.ServletWebServerApplicationContext.createWebServer(ServletWebServerApplicationContext.java:193) ~[spring-boot-3.5.9.jar!/:3.5.9]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.web.servlet.context.ServletWebServerApplicationContext.onRefresh(ServletWebServerApplicationContext.java:167) ~[spring-boot-3.5.9.jar!/:3.5.9]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         ... 13 common frames omitted
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: Caused by: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'jwtFilter' defined in URL [jar:nested:/home/ec2-user/spring/20260122-222244_merge-pull-request-8-from-100-hours-a-week-feat-member.jar/!BOOT-INF/classes/!/katopia/fitcheck/global/security/jwt/JwtFilter.class]: Unsatisfied dependency expressed through constructor parameter 0: Error creating bean with name 'jwtProvider': Invocation of init method failed
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.support.ConstructorResolver.createArgumentArray(ConstructorResolver.java:804) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.support.ConstructorResolver.autowireConstructor(ConstructorResolver.java:240) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.autowireConstructor(AbstractAutowireCapableBeanFactory.java:1395) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.createBeanInstance(AbstractAutowireCapableBeanFactory.java:1232) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.doCreateBean(AbstractAutowireCapableBeanFactory.java:569) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.createBean(AbstractAutowireCapableBeanFactory.java:529) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.support.AbstractBeanFactory.lambda$doGetBean$0(AbstractBeanFactory.java:339) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.support.DefaultSingletonBeanRegistry.getSingleton(DefaultSingletonBeanRegistry.java:373) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.support.AbstractBeanFactory.doGetBean(AbstractBeanFactory.java:337) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.support.AbstractBeanFactory.getBean(AbstractBeanFactory.java:207) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.web.servlet.ServletContextInitializerBeans.getOrderedBeansOfType(ServletContextInitializerBeans.java:230) ~[spring-boot-3.5.9.jar!/:3.5.9]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.web.servlet.ServletContextInitializerBeans.addAsRegistrationBean(ServletContextInitializerBeans.java:184) ~[spring-boot-3.5.9.jar!/:3.5.9]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.web.servlet.ServletContextInitializerBeans.addAsRegistrationBean(ServletContextInitializerBeans.java:179) ~[spring-boot-3.5.9.jar!/:3.5.9]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.web.servlet.ServletContextInitializerBeans.addAdaptableBeans(ServletContextInitializerBeans.java:164) ~[spring-boot-3.5.9.jar!/:3.5.9]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.web.servlet.ServletContextInitializerBeans.<init>(ServletContextInitializerBeans.java:96) ~[spring-boot-3.5.9.jar!/:3.5.9]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.web.servlet.context.ServletWebServerApplicationContext.getServletContextInitializerBeans(ServletWebServerApplicationContext.java:271) ~[spring-boot-3.5.9.jar!/:3.5.9]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.web.servlet.context.ServletWebServerApplicationContext.selfInitialize(ServletWebServerApplicationContext.java:245) ~[spring-boot-3.5.9.jar!/:3.5.9]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.web.embedded.tomcat.TomcatStarter.onStartup(TomcatStarter.java:52) ~[spring-boot-3.5.9.jar!/:3.5.9]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.apache.catalina.core.StandardContext.startInternal(StandardContext.java:4452) ~[tomcat-embed-core-10.1.50.jar!/:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.apache.catalina.util.LifecycleBase.start(LifecycleBase.java:164) ~[tomcat-embed-core-10.1.50.jar!/:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.apache.catalina.core.ContainerBase$StartChild.call(ContainerBase.java:1201) ~[tomcat-embed-core-10.1.50.jar!/:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.apache.catalina.core.ContainerBase$StartChild.call(ContainerBase.java:1191) ~[tomcat-embed-core-10.1.50.jar!/:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:317) ~[na:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.apache.tomcat.util.threads.InlineExecutorService.execute(InlineExecutorService.java:81) ~[tomcat-embed-core-10.1.50.jar!/:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at java.base/java.util.concurrent.AbstractExecutorService.submit(AbstractExecutorService.java:145) ~[na:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.apache.catalina.core.ContainerBase.startInternal(ContainerBase.java:747) ~[tomcat-embed-core-10.1.50.jar!/:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.apache.catalina.core.StandardHost.startInternal(StandardHost.java:783) ~[tomcat-embed-core-10.1.50.jar!/:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.apache.catalina.util.LifecycleBase.start(LifecycleBase.java:164) ~[tomcat-embed-core-10.1.50.jar!/:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.apache.catalina.core.ContainerBase$StartChild.call(ContainerBase.java:1201) ~[tomcat-embed-core-10.1.50.jar!/:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.apache.catalina.core.ContainerBase$StartChild.call(ContainerBase.java:1191) ~[tomcat-embed-core-10.1.50.jar!/:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:317) ~[na:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.apache.tomcat.util.threads.InlineExecutorService.execute(InlineExecutorService.java:81) ~[tomcat-embed-core-10.1.50.jar!/:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at java.base/java.util.concurrent.AbstractExecutorService.submit(AbstractExecutorService.java:145) ~[na:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.apache.catalina.core.ContainerBase.startInternal(ContainerBase.java:747) ~[tomcat-embed-core-10.1.50.jar!/:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.apache.catalina.core.StandardEngine.startInternal(StandardEngine.java:201) ~[tomcat-embed-core-10.1.50.jar!/:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.apache.catalina.util.LifecycleBase.start(LifecycleBase.java:164) ~[tomcat-embed-core-10.1.50.jar!/:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.apache.catalina.core.StandardService.startInternal(StandardService.java:410) ~[tomcat-embed-core-10.1.50.jar!/:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.apache.catalina.util.LifecycleBase.start(LifecycleBase.java:164) ~[tomcat-embed-core-10.1.50.jar!/:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.apache.catalina.core.StandardServer.startInternal(StandardServer.java:868) ~[tomcat-embed-core-10.1.50.jar!/:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.apache.catalina.util.LifecycleBase.start(LifecycleBase.java:164) ~[tomcat-embed-core-10.1.50.jar!/:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.apache.catalina.startup.Tomcat.start(Tomcat.java:436) ~[tomcat-embed-core-10.1.50.jar!/:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.boot.web.embedded.tomcat.TomcatWebServer.initialize(TomcatWebServer.java:128) ~[spring-boot-3.5.9.jar!/:3.5.9]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         ... 18 common frames omitted
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: Caused by: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'jwtProvider': Invocation of init method failed
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.annotation.InitDestroyAnnotationBeanPostProcessor.postProcessBeforeInitialization(InitDestroyAnnotationBeanPostProcessor.java:222) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.applyBeanPostProcessorsBeforeInitialization(AbstractAutowireCapableBeanFactory.java:429) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.initializeBean(AbstractAutowireCapableBeanFactory.java:1818) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.doCreateBean(AbstractAutowireCapableBeanFactory.java:607) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.createBean(AbstractAutowireCapableBeanFactory.java:529) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.support.AbstractBeanFactory.lambda$doGetBean$0(AbstractBeanFactory.java:339) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.support.DefaultSingletonBeanRegistry.getSingleton(DefaultSingletonBeanRegistry.java:373) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.support.AbstractBeanFactory.doGetBean(AbstractBeanFactory.java:337) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.support.AbstractBeanFactory.getBean(AbstractBeanFactory.java:202) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.support.DefaultListableBeanFactory.doResolveDependency(DefaultListableBeanFactory.java:1708) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.support.DefaultListableBeanFactory.resolveDependency(DefaultListableBeanFactory.java:1653) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.support.ConstructorResolver.resolveAutowiredArgument(ConstructorResolver.java:913) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.support.ConstructorResolver.createArgumentArray(ConstructorResolver.java:791) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         ... 59 common frames omitted
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]: Caused by: io.jsonwebtoken.security.WeakKeyException: The specified key byte array is 208 bits which is not secure enough for any JWT HMAC-SHA algorithm.  The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HMAC-SHA algorithms MUST have a size >= 256 bits (the key size must be greater than or equal to the hash output size).  Consider using the Jwts.SIG.HS256.key() builder (or HS384.key() or HS512.key()) to create a key guaranteed to be secure enough for your preferred HMAC-SHA algorithm.  See https://tools.ietf.org/html/rfc7518#section-3.2 for more information.
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at io.jsonwebtoken.security.Keys.hmacShaKeyFor(Keys.java:83) ~[jjwt-api-0.12.5.jar!/:0.12.5]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at katopia.fitcheck.global.security.jwt.JwtProvider.init(JwtProvider.java:57) ~[!/:0.0.1-SNAPSHOT]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at java.base/jdk.internal.reflect.DirectMethodHandleAccessor.invoke(DirectMethodHandleAccessor.java:103) ~[na:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at java.base/java.lang.reflect.Method.invoke(Method.java:580) ~[na:na]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.annotation.InitDestroyAnnotationBeanPostProcessor$LifecycleMethod.invoke(InitDestroyAnnotationBeanPostProcessor.java:457) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.annotation.InitDestroyAnnotationBeanPostProcessor$LifecycleMetadata.invokeInitMethods(InitDestroyAnnotationBeanPostProcessor.java:401) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         at org.springframework.beans.factory.annotation.InitDestroyAnnotationBeanPostProcessor.postProcessBeforeInitialization(InitDestroyAnnotationBeanPostProcessor.java:219) ~[spring-beans-6.2.15.jar!/:6.2.15]
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal java[53504]:         ... 71 common frames omitted
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal systemd[1]: spring-app.service: Main process exited, code=exited, status=1/FAILURE
Jan 22 13:25:43 ip-10-0-1-170.ap-northeast-2.compute.internal systemd[1]: spring-app.service: Failed with result 'exit-code'.
Jan 22 13:25:44 ip-10-0-1-170.ap-northeast-2.compute.internal systemd[1]: spring-app.service: Consumed 17.702s CPU time.
Jan 22 13:25:49 ip-10-0-1-170.ap-northeast-2.compute.internal systemd[1]: spring-app.service: Scheduled restart job, restart counter is at 1167.
Jan 22 13:25:49 ip-10-0-1-170.ap-northeast-2.compute.internal systemd[1]: Stopped spring-app.service - Spring Boot App.
Jan 22 13:25:49 ip-10-0-1-170.ap-northeast-2.compute.internal systemd[1]: spring-app.service: Consumed 17.702s CPU time.
Jan 22 13:25:49 ip-10-0-1-170.ap-northeast-2.compute.internal systemd[1]: Started spring-app.service - Spring Boot App.
Jan 22 13:25:49 ip-10-0-1-170.ap-northeast-2.compute.internal java[53581]: Standard Commons Logging discovery in action with spring-jcl: please remove commons-logging.jar from classpath in order to avoid potential conflicts
```


</details>

## 🔍 원인 분석
- 

## ✅ 해결 방법
- 

## 회고
-
